#footer{
    padding: 45px 45px 30px 45px;
    background-color: black;
}
#footer-left{
    width: 75%;
    float: left;
}
#footer-left a{
    text-decoration: none;
    color: #007DFF;
}
#footer-left p{
    font-size: 13px;
    color: gray;
    margin-top: 5px;
}
#footer-right{
    width: 25%;
    float: left;
}
#footer-right i{
    font-size: 26px;
    margin: 0 10px;
    color: #007DFF;
}