*{
    box-sizing: border-box;
}
body{
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
}
/* -- HEADER -- */
#header{
    height: 350px;
    width: 100%;
    background-image: url("images/about.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
}
#header-content{
    text-align: center;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}
#header-content h2{
    width: 45%;
    margin: 0 auto;
    color: white;
    font-size: 31px;
    margin-bottom: 10px;
}
form input:nth-child(1){
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding-left: 7px;
}
form input:nth-child(2){
    width: 100px;
    height: 30px;
    color: white;
    background-color:#007DFF;
    border: none;
    border-radius: 5px;
}
#main-content{
    padding: 90px;
}
#main-content i{
    font-size: 46px;
    color: #007DFF;
}
.main-content-part{
    width: 33.3%;
    text-align: center;
    float: left;
    padding: 0 60px;
}
.main-content-part p{
    margin-top: 8px;
    font-size: 14px;
    color: gray;
}
.main-content-part h4{
    margin-bottom: 8px;
    font-size: 20px;
}
#main-content::after{
    content: "";
    display: block;
    clear: both;
}
#footer{
    padding: 45px 45px 30px 45px;
    background-color: black;
}
#footer-left{
    width: 75%;
    float: left;
}
#footer-left a{
    text-decoration: none;
    color: #007DFF;
}
#footer-left p{
    font-size: 13px;
    color: gray;
    margin-top: 5px;
}
#footer-right{
    width: 25%;
    float: left;
}
#footer-right i{
    font-size: 26px;
    margin: 0 10px;
    color: #007DFF;
}
@media(max-width:768px){

    #header-content h2{
        width: 80%;
        font-size: 24px;
    }
    .main-content-part{
        width: 100%;
        padding: 0 30px;
        margin-bottom: 20px;
    }
    #main-content{
        padding: 45px;
    }
    form input:nth-child(1){
        width: 200px;
    }
    form input:nth-child(2){
        width: 80px;
    }
    #footer{
        padding: 25px 25px 10px 25px;
    }
    #footer-left a{
        font-size: 14px;
    }
    #footer-left p{
        font-size: 11px;
    }
    #footer-right i{
        font-size: 22px;
        margin: 0 5px;
    }

}